*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 5%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 10%;
    gap: 20px;
    background-color: bisque;
}

.search-box{
   
    width: fit-content;
    margin: auto;
}

.result-card{
    width: 180px;
    height: 220px;
    margin-left: 5%;
    margin-right: 5%;
}

