*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 10% 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    color :#243763;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#btn-container{
    display: flex;
    justify-content: cetner;
    padding-top: 20px;
}

/* 실제 오목놓는 맵 */
.gameMap{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap : wrap;
    width: 450px;
    height:450px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
}


/* 가짜 바닥판 */
.gridMap{ 
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
    margin: auto;
    
} 

.gridBox{
    display:flex;
    background-color: #AD8E70;
    border: solid 0.5px #FFEBB7;
    width: 49px;
    height:49px;
    
}



.box:hover {
    background-color: #E8C4C4;
}
